@font-face {
  font-family: "Artist";
  src: url(./fonts/name.ttf);
}

.block {
  min-height: calc(100vh - 70px - 64px);
}

h3 {
  color: white;
}

.vk-widgets-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  overflow: hidden;
}

.vk-widgets-container > div {
  margin-right: 20px;
}

.vk-widgets-container > div:last-child {
  margin-right: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

.artists-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artist-block {
  margin-left: 50px;
  margin-bottom: 70px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 1000px;
  background-color: rgba(19, 19, 19, 0.295);
}

.artist-image {
  width: 400px;
  height: 400px;
  margin-left: 30px;
  margin-top: 30px;
}

.artist-info {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.artist-name {
  font-size: 100px;
  font-family: "Artist";
  margin-left: 30px;
}

.release-block {
  width: 800px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(19, 19, 19, 0.295);
}

.track-cover {
  width: 500px;
  height: 500px;
}

.p-info {
  font-size: 30px;
  margin-top: 30px;
}

.hrefBtn {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 200px;
  height: 50px;
}

.hrefBtn:hover {
  background-color: white;
  color: black;
}

.card {
  background-color: rgba(19, 19, 19, 0.295);
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: none;
  margin: 10px;
  padding: 20px;
  width: calc(25% - 40px);
}

.card h2 {
  color: white;
}

.card p {
  color: white;
  margin-left: 2px;
}

.price {
  font-size: 25px;
}

.buyLink {
  color: white;
  margin-left: 2px;
}

.buyLink:hover {
  color: rgb(194, 194, 194);
}
