* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Light";
  src: url(./fonts/light.ttf);
}

@font-face {
  font-family: "Medium";
  src: url(./fonts/medium.ttf);
}

body {
  background-color: rgb(2, 2, 2);
}

h1 {
  color: white;
  font-family: "Medium";
}

p {
  color: white;
  font-family: "Light";
}

.home {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
